#nav-bar {
    width: 100vw;
    /* max-width: 100%; */
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 13%;
}

.navSection {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4em;
}

#search-input {
    width: 9vw;
    padding: 2px 8px 2px 40px;
    border-radius: 6px;
    transition: all 300ms;
}

#search-input:focus {
    width: calc(9vw + 32px);
    padding: 2px 8px;
}

/* Desktop Only */
@media screen and (min-width: 970px) {
    #mobile-nav {
        display: none;
    }
}

/* Small Desktop and Smaller */
@media screen and (max-width: 1300px) {
    #search-input {
        width: 11vw;
    }
    #search-input:focus {
        width: calc(11vw + 32px);
    }
}

/* Tablet and Smaller */
@media screen and (max-width: 970px) {
    #search-input {
        width: 30vw;
    }
    #search-input:focus {
        width: calc(30vw + 32px);
    }
    #desktop-nav {
        display: none;
    }
}

/* Skinny Mobile */
@media screen and (max-width: 600px) {
    #nav-bar {
        gap: 10px;
    }
    .navSection {
        gap: 10px;
    }
    #nav-logo-text {
        display: none;
    }
}