#nav-bar {
    width: 100vw;
    max-width: 100%;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 13%;
}

.navSection {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4em;
}

/* Desktop Only */
@media screen and (min-width: 970px) {
    #mobile-nav {
        display: none;
    }
}

/* Tablet Only */
@media screen and (min-width: 600px) and (max-width: 970px) {
    #search-input {
        /* width: 100%; */
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 970px) {
    #desktop-nav {
        display: none;
    }
}

/* Mobile Only */
@media screen and (max-width: 600px) {
    .navSection {
        gap: 10px;
    }
    #nav-bar {
        gap: 10px;
    }
    #nav-logo-text {
        display: none;
    }
}